#root {
  // max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
